@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Primary: #FFEB3B;
    /* for buttons, highlights */
    --dark-yellow: #A39300;
    --Secondary: #FFF9C4;
    /* for backgrounds, lighter sections */
    --Dark-Gray: #333333;
    /*  for text, headers */
    --Light-Gray: #F5F5F5;
    /* for secondary backgrounds, borders */
    --white: #fff;
    /* for main backgrounds, content areas */
}

/* global css start here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-70 {
    padding: 70px 0;
}

.pb-70 {
    padding-bottom: 70px;
}

/* global css end here */
/* header css start here */
.site-header {
    padding: 10px 0;
    background: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
    transform: perspective(300px) rotateX(0deg);
    transform-origin: top;
}

.site-header.nav-up {
    overflow: hidden;
    transform: perspective(300px) rotateX(-90deg);
    transform-origin: top;
    transform: perspective(300px) rotateX(-90deg);
}

.site-logo img {
    max-width: 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul,
.social-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar ul li,
.social-links ul li {
    margin: 0 10px;
}

.nav-bar ul li a {
    font-size: 16px;
    font-weight: 500;
    color: var(--Dark-Gray);
    transition: all 0.3s linear;

}

.nav-bar ul li a.active,
.nav-bar ul li a:hover {
    color: var(--dark-yellow);
}

.social-links ul li a {
    height: 40px;
    width: 40px;
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--dark-yellow);
}

.social-links ul li a:hover {
    background-color: var(--dark-yellow);
    border-color: var(--dark-yellow);
    color: var(--white);
}

.toggle,
.mobile-social,
.close {
    display: none;
}


/* header css end  */
/* banner css start  */
.site-banner {
    height: 80vh;
    background-image: url(../images/herobanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-inner,
.carousel,
.carousel-item,
.carousel-item img {
    height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    width: 3%;
    display: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    position: relative;
    filter: brightness(0) invert(1) !important;
    -webkit-filter: brightness(0) invert(1) !important;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #ffffff;
}

.banner-txt {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-caption {
    height: 100%;
}

.banner-txt {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-txt h1 {
    font-size: 50px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    animation: ani;
    -webkit-animation: ani 3s;
    padding-top: 70px;
}

@keyframes ani {
    from {
        letter-spacing: 25px;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        opacity: 0;
    }

    to {
        letter-spacing: 0;
        filter: blur(0);
        -webkit-filter: blur(0);
        opacity: 1;
    }
}

/* banner css end here */

/* welcome section  start  */
.welcome-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.welcome-left,
.welcome-right {
    width: 50%;
}

.welcome-right,
.welcome-img {
    height: 100%;
    position: relative;
}

.welcome-img::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5%;
    right: 5%;
    z-index: 9;
    border: 1px solid #bdbdbd;
}

.welcome-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.welcome-txt {
    padding: 30px 60px 30px 0;
}

.welcome-txt p {
    font-size: 16px;
    color: var(--Dark-Gray);
}

.welcome-sec,
.sub-welcome {
    padding: 100px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
}

.welcome-sec::after,
.sub-welcome::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/bottom-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 100%;
}

.welcome-sec::before,
.sub-welcome::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../images/top-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 100%;
}

/* welcome section end  */
/* main cards css start  */
.main-card {
    overflow: hidden;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.card-box {
    width: 32%;
    background-color: var(--Light-Gray);
    height: 400px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(../images/las-vegas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-box::before,
.card-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

.card-box::after {
    height: 0;
    transition: all 0.3s linear;

}

.card-box:hover::after {
    height: 100%;
}

.card-txt h4 {
    font-size: 25px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 10px;
}

.card-txt {
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.explore-btn a {
    font-size: 14px;
    padding: 8px 15px;
    text-transform: uppercase;
    background-color: var(--dark-yellow);
    display: inline-block;
    color: var(--white);
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s linear;

}

.explore-btn a:hover {
    background-color: #000;
    color: #fff;
}

.card-box .explore-btn a:hover {
    background-color: #fff;
    color: #000;
}

/* main card css end  */
.sub-banner {
    height: 450px;
    overflow: hidden;
    position: relative;
}

.sub-bnr-img {
    height: 100%;
    width: 100%;
}

.sub-bnr-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.sub-banner-txt {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(0%, -50%);
    -moz-transform: translateY(0%, -50%);
    -ms-transform: translateY(0%, -50%);
    -o-transform: translateY(0%, -50%);
}

.sub-banner-txt h2 {
    font-size: 40px;
    margin-top: 70px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    animation: ani;
    -webkit-animation: ani 3s;
}


.attraction-wrap {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    border: 1px solid #eee;
    /* border-radius: 15px; */
    height: 100%;
    position: relative;
}

.attraction-img {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.attraction-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s linear;
}

.attraction-txt {
    padding: 30px 25px 70px;
}

.attraction-txt h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--Dark-Gray);
}

.attraction-txt p {
    font-size: 16px;
    color: var(--Dark-Gray);
}


/* Slide */
/* .attraction-wrap .alojamiento-img img {
	margin-left: 30px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.attraction-wrap .alojamiento-img:hover img {
	margin-left: 0;
} */

/* Rotate */


.attraction-main .col-md-4 {
    margin-bottom: 25px;
}

.subwel-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.subwel-left {
    width: 50%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}


.first-img {
    width: 58%;
}

.floating-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.floating-img-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 49%;
    width: 40%;
    /* animation-name: floating; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.floating-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 49%;
    width: 40%;
    /* animation-name: floating; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}

.subwel-left img {
    height: 100%;
    object-fit: cover;
}

.subwel-right {
    width: 50%;
}

.subwel-txt {
    padding: 50px 0 50px 100px;
}

.subwel-txt p {
    font-size: 16px;
}

.attraction-wrap .explore-btn {
    position: absolute;
    left: 25px;
    bottom: 30px;
}

.subwel-txt img {
    width: 60%;
    margin-bottom: 30px;
    position: relative;
}


/* Style the tab */
/* .tab {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 300px;
  } */

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: var(--Dark-Gray);
    padding: 10px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.tab button img {
    width: 45px;
    margin-right: 2px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--Primary);
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: var(--Primary);
}

/* Style the tab content */
.tabcontent {
    padding: 0px 12px;
    /* border: 1px solid #ccc; */
    border-left: none;
    display: none;
}

.alojamiento-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.alojamiento-left {
    width: 25%;
    position: relative;
    /* padding: 0 15px; */
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.alojamiento-left .tab {
    position: sticky;
    top: 70px;
    height: 400px;
    padding: 50px 0;
}

.alojamiento-right {
    width: 75%;
}


.alojamiento-img {
    height: 300px;
}

.alojamiento-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.alojamiento-txt h4 {
    font-size: 22px;
}

.alojamiento-txt {
    text-align: center;
    padding: 20px 10px 60px;
}

.alojamiento-txt p {
    font-size: 14px;
}

.alojamiento-tabs {
    padding: 50px 0;
}

.alojamiento-tabs::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
}

.alojamiento-box {
    border: 1px solid #eee;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--white);
    position: relative;
    height: 100%;
}

.alojamiento-box .explore-btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.alojamiento-right .col-md-6 {
    margin-bottom: 30px;
}

.alojamiento-page .sub-welcome {
    padding: 70px 0;
}

.alojamiento-page .sub-welcome::before,
.alojamiento-page .sub-welcome::after {
    position: inherit;
    height: 0;
}


/* tips page css start */
.documentation p {
    font-size: 18px;
    color: var(--Dark-Gray);
}

.documentation p strong {
    font-size: 20px;
}

.documentation ul {
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0;
}

.documentation ul li {
    font-size: 16px;
    margin: 5px 0;
    color: var(--Dark-Gray);
}

.documentation ul li::marker {
    color: #c9b718;
    font-size: 20px;
}

.step-box {
    border: 2px solid #eeeeee69;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    text-align: center;
    padding: 30px 20px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.step-count {
    height: 55px;
    width: 55px;
    background: #e4d129;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.step-text h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}

.step-text p {
    font-size: 14px;
    margin-bottom: 0;
    color: var(--Dark-Gray);
}

.tips-steps .col-md-6 {
    padding-top: 30px;
}

.step-img img {
    width: 70px;
}

.step-img {
    margin-bottom: 20px;
}

.step-wrap {
    background-color: #fff;
    height: 100%;
    width: 100%;
    /* margin: -6px 0 -1px 18px; */
    position: relative;
}

.step-wrap:before {
    width: 100%;
    height: 100%;
    content: " ";
    background-image: url(../images/Explora-más.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.01;
}

.step-1::before {
    background-image: url(../images/Reserva-de-Vuelos.png);
}

.step-2::before {
    background-image: url(../images/Mejor-oferta.png);
}

.step-3::before {
    background-image: url(../images/Alojamiento.png);

}

.step-4::before {
    background-image: url(../images/Transporte.png);

}

.step-5::before {
    background-image: url(../images/Clima-y-Ropa.png);

}

.step-6::before {
    background-image: url(../images/Presupuesto-para-Juego.png);

}

.step-7::before {
    background-image: url(../images/Seguro-de-Viaje.png);

}

.step-8::before {
    background-image: url(../images/Explora-más.png);

}

.step-9::before {
    background-image: url(../images/Reserva-de-Vuelos.png);

}

/* tips page css end */



/* contact css start  */
.contact-wrap p {
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-wrap {
    margin-bottom: 20px;
}

.contact-img {
    height: 100%;
}

.contact-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact-wrap p a {
    font-weight: 600;
    color: #000;
}

.attraction-main .col-lg-7,
.attraction-main .col-lg-5 {
    margin-bottom: 20px;
}

.privacy-wrap p,
.privacy-wrap ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

.privacy-wrap p a,
.privacy-wrap ul li a {
    font-weight: 600;
    color: #000;
}

.privacy-wrap {
    margin-bottom: 30px;
}

.privacy-wrap ul {
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0;
}

/* contact css end  */

/* footer css start  */
.site-footer {
    /* background-color: var(--Secondary); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer-logo img {
    width: 230px;
}

.footer-heading h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-links ul li a {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    position: relative;
    transition: all 0.3s linear;

}

.footer-links ul li a::before {
    content: '';
    position: absolute;
    top: 48%;
    left: 0px;
    height: 7px;
    width: 7px;
    transform: translateY(-50%);
    background-color: var(--dark-yellow);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s linear;
}

.footer-links ul li a:hover {
    padding-left: 15px;
    color: #000;
}

.footer-links ul li a:hover::before {
    opacity: 1;
}

.footer-links ul li {
    margin: 10px 0;
}

.copy-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 0;
    border-top: 1px solid #d7d1d1;
    margin-top: 30px;
}

.copy-right p {
    font-size: 16px;
    color: var(--Dark-Gray);
    margin-bottom: 0;
}

/* footer css end  */

.attraction-img.top img {
    object-position: 10% 10%;
}

.sec-last,
.last {
    margin-bottom: 0 !important;
}

.subwel-content .subwel-txt {
    padding: 0;
}

.sub-main {
    padding-top: 50px;
}

.conclusion {
    margin-bottom: 50px;
}

.conclusion p {
    font-size: 20px;
}
.row.justify-content-center.spaces .col-lg-4.col-md-6.col-sm-12 {
    margin-bottom: 30px;
}
